@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

html, body, #root, .App{
  height: 100%;
  width: 100%;
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track{
  background: #041b34;
}

::-webkit-scrollbar-thumb{
  border-radius: 7px;
  background: #000e1c;
}

::-webkit-scrollbar-thumb:hover{
  background: #000e1c;
}